* {
    padding: 0;
    margin: 0;
}




#table {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    padding: 30px;

}

.box {
    padding: 15px;
    border: 1px solid black;
    width: 100px;
    background: lightpink;
}